.floating-imagese {
  animation: float 6s infinite ease-in-out;
}

.floating-button {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  animation: fbutton 3s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes fbutton {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 4s ease-in-out;
}
