@import 'tailwindcss';

@font-face {
  font-family: 'KaClaudya';
  src: url('/fonts/KaClaudya.ttf') format('truetype');
}

@font-face {
  font-family: 'MarilynScript';
  src: url('/fonts/MarilynScript.ttf') format('truetype');
}

@theme {
  --font-master: 'KaClaudya';
  --font-slave: 'MarilynScript';
}
